<!DOCTYPE html>
<html>
<body>
  <div class="container p-3 mb-2 bg-light text-dark">
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-1 bg-dark text-white"> Wubba lubba dub-dub</h1>
        <p>Lo mínimo que debes saber para empezar a ser un fan de Rick and Morty</p>
      </div>
    </div>

    <%i = 0%>

    <div class="container">
      <table class="table">
        <thead class="thead-dark">
           <tr>
             <th>#</th>
             <th>Nombre</th>
             <th>Fecha</th>
             <th>Codigo</th>
           </tr>
        </thead>

        <tbody>
           <% while i< @length do %>
             <tr>
               <th scope="row"><%=i+1%></th>
               <td><%= @results[i]["name"]%></td>
               <td><%= @results[i]["air_date"]%></td>
               <td><%= @results[i]["episode"]%></td>
             </tr>
             <% i += 1%>
           <% end %>
         </tbody>
       </table>
    </div>
  </div>
</body>
